{{ define "test_dec" }}{{ dec . }}{{ end }}
{{ define "test_html_safe" }}{{ htmlSafe . }}{{ end }}
{{ define "test_inc" }}{{ inc . }}{{ end }}
{{ define "test_pagination" }}{{ template "pagination" . }}{{ end }}
{{ define "test_passthrough" }}{{ . }}{{ end }}
